@inject IEmployeeRepository _employeeRepository
@inject IJSRuntime _JS

<div class="modal fade" id="bsModalCreateEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Employee Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="Employee" FormName="ProductCreateForm" OnValidSubmit="CreateEmployeeConfirm">
                     <DataAnnotationsValidator />
                    <div class="px-3">
                        <div class="py-2 col-12">
                            <label for="Code">Mã số</label>
                            <InputText @bind-Value="Employee.Code" class="form-control" id="Code" />
                            <ValidationMessage For="@(() => Employee.Code)" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">Họ tên</label>
                            <InputText @bind-Value="Employee.Name" class="form-control" id="Name"/>
                            <ValidationMessage For="@(() => Employee.Name)" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">Điện thoại</label>
                            <InputText @bind-Value="Employee.PhoneNumber" class="form-control" id="Name" />
                            <ValidationMessage For="@(() => Employee.PhoneNumber)" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">Email</label>
                            <InputText @bind-Value="Employee.Email" class="form-control" id="Name" />
                            <ValidationMessage For="@(() => Employee.Email)" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">CCCD</label>
                            <InputText @bind-Value="Employee.CCCD" class="form-control" id="Name" />
                            <ValidationMessage For="@(() => Employee.CCCD)" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Description">Mô tả</label>
                            <InputText @bind-Value="Employee.Description" class="form-control" id="Description" />
                            <ValidationMessage For="@(() => Employee.Description)" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="LocationId">Phòng ban</label>
                            <InputSelect @bind-Value="Employee.DepartmentId" class="form-control" id="LocationId">
                                <option value="" selected>--Chọn phòng ban--</option>
                                @foreach(var item in Departments){
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="py-2 col-12">
                            <label for="LocationId">Mô tả</label>
                            <InputSelect @bind-Value="Employee.ShiftId" class="form-control" id="LocationId">
                                <option value="" selected>--Chọn vị trí--</option>
                                @foreach (var item in Shifts)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="py-2 d-flex gap-3">
                            <label for="Status">Hoạt động</label>
                            <InputCheckbox @bind-Value="Employee.Status" class="form-check" id="Status" />
                            <ValidationMessage For="@(() => Employee.Status)" />
                        </div>
                    </div>
                    <div class="modal-footer gap-2">
                        <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" OnClick="CreateEmployeeConfirm">Create</MudButton>
                        <MudButton ButtonType="ButtonType.Button" Color="Color.Warning" Variant="Variant.Filled">Cancel</MudButton>
                    </div>
                </EditForm>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public Employee Employee { get; set; } = new Employee();
    [Parameter]
    public IEnumerable<Department> Departments { get; set; } = new List<Department>();
    [Parameter]
    public IEnumerable<Shift> Shifts { get; set; } = new List<Shift>();
    [Parameter]
    public EventCallback LoadPage { get; set; }

    public async Task CreateEmployeeConfirm()
    {
        await _employeeRepository.CreateAsync(Employee);
        Employee = new Employee();
        await _JS.InvokeVoidAsync("HideCreateEmployeeModal");
        await _JS.ToastrSuccess("Employee Created Successfully");
        await LoadPage.InvokeAsync();
    }
}